<app-nav></app-nav>
<div class="registration_form" [hidden]="registration_form">
  <div id="login">
    <div class="row">
      <input [(ngModel)]="l_name" type="text" class="form-control input_login" placeholder="Логин">
    </div>
    <small class="row exclamation" [hidden]="exclamation_name.length == 0"><i class="fas fa-exclamation-triangle"></i> {{exclamation_name}}</small>
    <div class="row">
      <input [type]="eye_mode" [(ngModel)]="l_password" class="form-control input_password" placeholder="Пароль">
      <button type="button" class="btn btn-outline-secondary btn_for_eye" (click)="show_password()">
        <i class="far fa-eye" [hidden]="eye_mode == 'text'"></i>
        <i class="fas fa-eye-slash" [hidden]="eye_mode == 'password'"></i>
      </button>
    </div>
    <small class="row exclamation" [hidden]="exclamation_password.length == 0"><i class="fas fa-exclamation-triangle"></i> {{exclamation_password}}</small>

    <div class="row">
      <button type="button" class="btn btn-primary btn_for_login" (click)="register_db()">Добавить</button>
    </div>
  </div>
</div>


<app-my-alert [inner_show_alert]="show_alert" [inner_alert_text]="alert_text"></app-my-alert>

<div class="user_information" [hidden]="user_information">
  <fieldset>
    <legend>Информация о пользователе</legend>
    <div class="form-group">
      <label for="inputFirstName">Имя пользователя</label>
      <input [(ngModel)]="first_name" type="firstname" class="form-control" id="InputforFirstName"
        aria-describedby="emailHelp" placeholder="Введите имя">
      <label for="inputLastName">Фамилия пользователя</label>
      <input [(ngModel)]="last_name" type="lastname" class="form-control" id="InputforLastName"
        aria-describedby="emailHelp" placeholder="Введите фамилию">
      <small id="help" class="form-text text-muted">Мы никогда не передадим ваши личные данные кому-либо
        еще</small>
    </div>
    <div class="form-group">
      <label for="inputDate">Дата рождения</label>
      <input type="date" [(ngModel)]="date_of_birth" class="form-control" id="inputforDate">
    </div>
    <div class="form-group">
      <label for="inputPhone">Номер телефона</label>
      <input [(ngModel)]="phone_number" class="form-control" id="inputForPhone" (ngModelChange)="change_phone_number($event)">
    </div>
    <div class="form-group">
      <label for="selectSex">Пол</label>
      <select [(ngModel)]="sex" class="form-control" id="selectSex">
        <option>Мужской</option>
        <option>Женский</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" (click)="add_infoDB ()">Продолжить</button>
  </fieldset>
</div>

