<div id="login">
  <div class="row">
    <input [(ngModel)]="l_name" type="text" class="form-control input_login" placeholder="Логин">
  </div>
  <div class="row">
    <input type="password" [(ngModel)]="l_password" class="form-control input_password" placeholder="Пароль">
  </div>
  <div class="row">
    <button type="button" class="btn btn-primary btn_for_login" (click)="register()">Добавить</button>
  </div>
</div>


<app-my-alert [inner_show_alert]="show_alert" [inner_alert_text]="alert_text"></app-my-alert>