.input_login {
  width: 50%;
  margin: 1em auto 0;
  }
  
  .input_password {
  width: 50%;
  // margin: 1em auto 0;
  }
  
  .btn_for_login{
    margin: 1em auto 0;
    }

.user_information {
  width: 50%;
}
.row {
  justify-content: center;
}
.btn_for_eye {
  margin-left: -43px;
}
.exclamation {
  i {
color: rgb(238, 29, 22);
  }
  display: flex;
  align-items: baseline;
}
