/* You can add global styles to this file, and also import other style files */
.substrate {
  background: rgba(0, 0, 0, 0.281);
  position: fixed;
  width: 100vw;
  height: 100vw;
  top:0;
  left:0;
}
.inform_window {
  min-width: 10em;
  min-height: 5em;
  background: white;
  color:  rgb(34, 65, 47);
  margin: 10em auto;
}